.gd_login_required_notification:hover {
    cursor: pointer;
}
.gd_login_required_notification .icon {
    background: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fas' data-icon='university' class='svg-inline--fa fa-university fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' style='color: %2318bc9c; width: 18px;'%3E%3Cpath fill='currentColor' d='M496 128v16a8 8 0 0 1-8 8h-24v12c0 6.627-5.373 12-12 12H60c-6.627 0-12-5.373-12-12v-12H24a8 8 0 0 1-8-8v-16a8 8 0 0 1 4.941-7.392l232-88a7.996 7.996 0 0 1 6.118 0l232 88A8 8 0 0 1 496 128zm-24 304H40c-13.255 0-24 10.745-24 24v16a8 8 0 0 0 8 8h464a8 8 0 0 0 8-8v-16c0-13.255-10.745-24-24-24zM96 192v192H60c-6.627 0-12 5.373-12 12v20h416v-20c0-6.627-5.373-12-12-12h-36V192h-64v192h-64V192h-64v192h-64V192H96z'%3E%3C/path%3E%3C/svg%3E") no-repeat !important;
    width: 31px !important;
    height: 31px !important;
    margin: 4px;
}
.gd_notification:hover {
    cursor: pointer;
}
.gd_notification .icon {
    background: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fas' data-icon='university' class='svg-inline--fa fa-university fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' style='color: %2318bc9c; width: 18px;'%3E%3Cpath fill='currentColor' d='M496 128v16a8 8 0 0 1-8 8h-24v12c0 6.627-5.373 12-12 12H60c-6.627 0-12-5.373-12-12v-12H24a8 8 0 0 1-8-8v-16a8 8 0 0 1 4.941-7.392l232-88a7.996 7.996 0 0 1 6.118 0l232 88A8 8 0 0 1 496 128zm-24 304H40c-13.255 0-24 10.745-24 24v16a8 8 0 0 0 8 8h464a8 8 0 0 0 8-8v-16c0-13.255-10.745-24-24-24zM96 192v192H60c-6.627 0-12 5.373-12 12v20h416v-20c0-6.627-5.373-12-12-12h-36V192h-64v192h-64V192h-64v192h-64V192H96z'%3E%3C/path%3E%3C/svg%3E") no-repeat !important;
    width: 31px !important;
    height: 31px !important;
    margin: 4px;
}
.gd_no_team_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.gd-settings-team-table {
    margin: 0 auto;
    text-align: center;
}
.gd-settings-team-table th {
    padding: 0 15px;
}
.gd-settings-team-table tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.45);
}
.gd-settings-team-table tr:hover {
    background: #18bc9c20;
}
.gd-title {
    color: #18bc9c;
    margin: 5px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    place-items: flex-end;
}
.gd-login-form {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 4px;
    background-color: #fafafa;
    border: 2px solid #cdcdcd;
    color: #334254 !important;
    margin: 0 10px 0 10px;
}
.gd-context-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
}
.gd-context-icon .icon_caption {
    position: absolute;
    overflow: hidden;
    width: 118px;
    display: none;
    margin-left: -59px;
    left: 50%;
    top: 40px;
    z-index: 5;
}
.gd-context-icon .icon_caption .top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url(https://gpnl.innogamescdn.com/images/game/autogenerated/layout/layout_596941d.png) no-repeat -488px -406px;
    width: 118px;
    height: 18px;
}
.gd-context-icon .icon_caption .middle {
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    bottom: 11px;
    background: url(https://gpnl.innogamescdn.com/images/game/layout/context_menu_middle.png) repeat-y 0 0;
}
.gd-context-icon .icon_caption .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(https://gpnl.innogamescdn.com/images/game/autogenerated/layout/layout_596941d.png) no-repeat -326px -240px;
    width: 118px;
    height: 11px;
}
.gd-context-icon .icon_caption .caption {
    color: #fc6;
    font-weight: 700;
    text-align: center;
    word-wrap: break-word;
    line-height: 19px;
    z-index: 1;
    position: relative;
    padding: 4px;
}
.gd-context-icon:hover .icon_caption {
    display: block;
}

/*Reactions*/
.gd_react_container {
    display: inline;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.gd_react_container .gd_react_box {
    display: inline-block;
    font-size: 13px;
    border: 1px solid #c8a37f;
    border-radius: 8px;
    padding: 0px 5px 1px 2px;
    margin-left: 3px;
}
.gd_react_top {
    vertical-align: top;
}
.gd_react_container .active {
    border: 1px solid #18bc9c !important;
    background: rgba(24, 188, 156, 0.25) !important;
}
.gd_react_container .gd_react_box :hover {
    cursor: pointer;
}
.gd_react_container .gd_new_reaction {
    display: inline-block;
}
.gd_react_container .reactions_add {
    display: inline-block;
    visibility: hidden;
}
.post:hover .reactions_add {
    visibility: visible;
}
.gd_react_container .reactions_add .gd_add_img {
    height: 15px;
    margin-top: -12px;
    position: absolute;
    margin-left: 2px;
    opacity: .6;
}
.gd_react_container .reactions_add .gd_add_img:hover {
    opacity: 1;
    cursor: pointer;
}
.gd_new_reactions {
    position: absolute;
    display: block;
    z-index: 9999;
    width: 350px;
    height: 60px;
    overflow: auto;
    background: #f5d590;
    padding: 10px;
    top: 27px;
    left: 205px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px solid #18bc9c;
}
.gd_new_reactions .emote {
    font-size: 20px;
    display: inline-block;
    margin-right: 5px;
    border: 2px solid transparent;
}
.gd_new_reactions .emote:hover {
    cursor: pointer;
    background: rgba(24, 188, 156, 0.25) !important;
    border: 2px solid #18bc9c;
}
.gd_react_close {
    font-size: 20px;
    position: absolute;
    right: 8px;
    margin-top: -8px;
}
.gd_react_close:after{
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
}

.gd-error-msg {
    color: #ea6153 !important;
}
.gd-login-container {
    margin: 25px 10px 0;
    font-family: 'Raleway', sans-serif;
}
.gd-login-footer {
    margin: 5px 5px 0;
}
.gd-login-lbl {
    font-size: 16px;
}
.gd-link-btn {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    overflow: visible;
    text-transform: none;
    display: inline-block;
    font-size: 17px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    font-weight: 400;
    border-radius: 0;
    background: transparent none;
    box-shadow: none;
    border: 1px solid transparent;
    color: #18bc9c !important;
}
.gd-link-btn:hover {
    text-decoration: underline;
}
.gd-token-container {
    display: grid;
}
.gd_copy_command_playername {
    padding: 10px;
}
.gd-login-input {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    font-family: inherit;
    display: block;
    height: 44px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.gd-login-btn{
    /*width: 100%;*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin: 10px 0;
    font: inherit;
    overflow: visible;
    text-transform: none;
    font-family: inherit;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    background-color: #18bc9c;
    border-color: #18bc9c;
    font-weight: 700;
    margin-right: 0.25rem !important;
}
.gd-register-btn{
    float: right;
}
.gd-login-btn:hover{
    background: linear-gradient(#18bc9c 5%, #05e197 100%);
}
#gd_cmd_vrvw_toast {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    /*width: 100%;*/
    /*height: 20px;*/
    /*max-width: 250px;*/
    background-color: #18bc9c;
    background-image: linear-gradient(19deg, #334254 0%, #18bc9c 60%);
    color: #fff;
    font-size: 16px;
    padding: 10px;
    user-select: none;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0);
    z-index: 10005;
}
.gd_cmd_toast_a {
    color: #fff
}
.gd_cmd_toast_a:hover {
    color: #bebebe
}